.button {
    display: block;
    background-color: $mainOrange;
    color: #fff;
    padding: 12px 32px;
    border-radius: 6px;
    transition: box-shadow 0.3s ease,background-color 0.3s ease,color 0.3s ease;

    &:focus{
        box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.70);
        color: $mainOrange;
        background-color: rgba(255, 122, 80, 0.10);
    }

    @media (any-hover: hover){
        &:hover{
            background-color: transparent;
            color: $mainOrange;
            box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.70);
        }
    }

    &:active{
        background-color: #FFF2ED;
        box-shadow: none;
    }
}

.icons-style{
    transition: box-shadow 0.3s ease,background-color 0.3s ease,stroke 0.3s ease, ellipse 0.3s ease;
    border-radius: 5px;
    &:focus{
        box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.70);
        background-color: rgba(255, 122, 80, 0.10);
    }

    @media (any-hover: hover){
        &:hover{
            background-color: #FF7A50;
            span{
                background-color: #fff;
                color: #FF7A50;
            }
        }
    }
    
    &:active{
        background-color: #FFF2ED;
        box-shadow: none;
    }
}

.title {
    font-weight: 500;
    font-size: 36px;
    line-height: 130%; /* 46.8px */
}

.link-style{
    border-radius: 5px;
		transition: color 0.3s ease 0s,box-shadow 0.3s ease, text-shadow 0.3s ease;
		&:focus{
            box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.70);
        }

        @media (any-hover: hover){
            &:hover{
                color: $mainOrange;
            }
        }

        &:active{
            text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.50);
			box-shadow: none;
			color: $mainColor;
        }
}